.container{
  padding-top: 24px;
}
span{
  font-size: 18px;
}

.letter-container{
  position: relative;
  & > div {
    margin-bottom: 16px;
  }
}

.point{
  position: absolute;
  left: 0;
  top: -14px;
  background: red;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: none;
  &:hover {
    cursor: pointer;
    background-color: yellow;
  }
}

.add-accord .point {
  display: block;
}
.accord{
  min-width: 19px;
  display: inline-block;
  color: gray;
  position: relative;
  .delete-btn{
    color: red;
    font-weight: bold;
    position: absolute;
    display: none;
    top: -4px;
    right: -4px;
    cursor: pointer;
  }
}
.editing-accord {
  .accord{
    &:hover{
      .delete-btn{
        display: block;
      }
    }
  }
}
.letter{
  display: inline-block;
  min-width: 15px;
}

