
<div class="container">
  <div class="row">
    <div class="col-12">
      <mz-input-container class="search-container">
        <input mz-input
               [label]="'string'"
               id="search"
               placeholder=""
               type="text"
                [(ngModel)]="string">
      </mz-input-container>
    </div>
    <div class="col-12">
      <button mz-button [flat]="true" class="red" (click)="saveString()">save</button>
    </div>
    <div class="col-12">
      <p *ngFor="let string of strings">
        <span class="letter-container" *ngFor="let letter of string">
          <span class="point"></span>
          <span [innerHtml]="letter">
        </span>
        </span>

      </p>
    </div>
  </div>

</div>

