<div class="container" [ngClass]="{'add-accord': isShowPoints, 'editing-accord': !isEditing}">
  <div class="row">
    <div class="col-12">
      <div *ngIf="!isEditing">
        <button mz-button [flat]="true" class="red" (click)="startAddingString()">Добавить строку</button>
        <button mz-button [flat]="true" class="red" (click)="startAddingAccord()">Добавить аккорд</button>
      </div>
      <div *ngIf="isAddingString">
        <mz-input-container>
          <input mz-input
                 [label]="'string'"
                 id="string"
                 placeholder=""
                 type="text"
                 [(ngModel)]="string">
        </mz-input-container>
        <button mz-button [flat]="true" class="red" (click)="saveString()">save</button>
      </div>
      <div *ngIf="isAddingAccord">
        <mz-input-container>
          <input mz-input
                 [label]="'accord'"
                 id="accord"
                 placeholder=""
                 type="text"
                 [(ngModel)]="accord"
                 [disabled]="isShowPoints">
        </mz-input-container>
        <button mz-button [flat]="true" class="red" (click)="addAccord()" [disabled]="!accord && isShowPoints">pick position</button>
      </div>
    </div>
    <div class="col-12" class="string-container">
      <div *ngFor="let string of strings">
        <p>
          <span *ngFor="let accord of string.accords; let index = index;"  class="accord">
            <span class="delete-btn" *ngIf="accord" (click)="deleteAccord(string.id, index)">X</span>
            <span [innerHtml]="accord"></span>
          </span>
        </p>
        <p>
          <span class="letter-container" *ngFor="let letter of string.letters; let index = index;">
            <span class="point" (click)="addAccorOnThisPoint(string.id, index)"></span>
            <span [innerHtml]="letter" class="letter"> </span>
          </span>
        </p>
      </div>
    </div>
  </div>

</div>

