.container {
  padding: 24px 0;
}

p{
  margin: 0;
}

span {
  font-size: 1em;
}

.letter-container {
  position: relative;
  isplay: inline-block;
  & > div {
    margin-bottom: 16px;
  }
}

.point {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -14px;
  width: 14px;
  height: 14px;
  display: none;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 6px solid transparent;
    border-top: 8px solid red;
  }
  &:hover {
    cursor: pointer;
    &:after{
      border-top-color: yellow;
    }
  }
}

.add-accord {
  .point {
    display: block;
  }
  .letter-container{
    opacity: .4;
  }

}

.accord {
  min-width: 0.875em;
  display: inline-block;
  color: #921818;
  position: relative;
  letter-spacing: 4px;
  .delete-btn {
    color: red;
    font-weight: bold;
    position: absolute;
    display: none;
    top: -4px;
    right: -4px;
    cursor: pointer;
  }
}

.editing-accord {
  .accord {
    &:hover {
      .delete-btn {
        display: block;
      }
    }
  }
}

.letter {
  display: inline-block;
  min-width: 0.625em;
}

.file-field {
  display: inline-block;
  input {
    z-index: 3;
  }
  .file-path-wrapper {
    padding: 0;
  }
}

.string{
  position: relative;
  &:hover{
    .edit-btn {
      display: block;
    }
  }
}

.edit-btn{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.song-container{
  background: lightgray;
  border-radius: 15px;
  padding: 8px;
  min-height: 124px;
  position: relative;
  margin-top: 16px;
}
.empty-block{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
